<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/edituser}" th:object="${user}" method="post">
    <div>
        <label for="userID">UserID:</label>
        <input type="text" id="userID" th:field="*{userID}" readonly>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <lable for="role">Role:</lable>
        <select id="role" name="roleID" required>
            <option value="">Select Role</option>
            <option th:each="role : ${roles}"
                    th:value="${role.roleID}"
                    th:text="${role.roleName}"
                    th:selected="${role.roleID} == ${user.role.roleID}">
            </option>
        </select>
    </div>
    <div>
        <button type="submit" style="background-color: aqua">Update</button>
    </div>

</form>
</body>
</html>